# Project 3 - Madelon Data Analysis
## Step 0: EDA

In [1]:
#!conda install psycopg2 --yes

In [254]:
import csv
import psycopg2 as pg2
from psycopg2.extras import RealDictCursor
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.model_selection import train_test_split, StratifiedKFold, KFold
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge, LogisticRegression

from sklearn.feature_selection import SelectKBest, \
                                      SelectFromModel, \
                                      RFE, SelectPercentile, \
                                      f_regression

from IPython.display import display
from itertools import combinations

### Instructor Provided Data

In [3]:
def con_cur_to_class_db():
    '''This function will return a connection and cursor object from the Madelon data that was provided by the
    instructors. It is not the downloaded version of the data from the UCI website.'''
    
    con = pg2.connect(host='34.211.227.227',
                  dbname='postgres',
                  user='postgres')
    cur = con.cursor(cursor_factory=RealDictCursor)
    
    return con, cur

In [4]:
con, cur = con_cur_to_class_db()
cur.execute('SELECT * FROM madelon LIMIT 2;')
results = cur.fetchall()
con.close()

In [5]:
pd.DataFrame(results)

,_id,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,...,feat_991,feat_992,feat_993,feat_994,feat_995,feat_996,feat_997,feat_998,feat_999,target
0,52016,-2.144283,-0.64021,-1.295197,-0.153244,-0.139236,-0.979140,0.626234,0.145955,0.280069,...,0.324557,-0.788472,-0.207519,1.484341,-0.561046,-1.462825,0.306762,0.121219,1.033784,1
1,52017,0.215722,1.92297,0.331445,-0.961705,0.204086,2.317454,-0.667207,0.259223,0.605462,...,0.090224,0.654281,2.158872,-1.060857,-1.032985,-1.304050,-0.476265,1.988284,1.934122,0

### UCI Web Data

In [6]:
# Assigning file paths to variables. 

train_data_uci_madelon = './web_madelon_data/madelon_train.data.txt'
train_label_uci_madelon = './web_madelon_data/madelon_train.labels.txt'

val_data_uci_madelon = './web_madelon_data/madelon_valid.data.txt'
val_label_uci_madelon = './web_madelon_data/madelon_valid.labels.txt'

test_data_uci_madelon = './web_madelon_data/madelon_test.data.txt'

params_uci_madelon = './web_madelon_data/madelon.param.txt'

In [7]:
# Creating dataframes for the train, test, and val datasets.

train_uci_df = pd.read_csv(train_data_uci_madelon, delimiter=' ', header=None).drop(500, axis=1)
test_uci_df = pd.read_csv(test_data_uci_madelon, delimiter=' ', header=None).drop(500, axis=1)
val_uci_df = pd.read_csv(val_data_uci_madelon, delimiter=' ', header=None).drop(500, axis=1)

In [8]:
# Checking to make sure I have the right amount of rows.

print(len(val_uci_df) + len(train_uci_df) + len(test_uci_df))
print(len(val_uci_df))
print(len(train_uci_df))
print(len(test_uci_df))

4400
600
2000
1800

In [9]:
# Creating column names for all of the uci dataframes.

feature_col_names = ['feat_{}'.format(i) for i in range(0,500)]

train_uci_df.columns = feature_col_names
test_uci_df.columns = feature_col_names
val_uci_df.columns = feature_col_names

In [10]:
y_train = pd.read_csv(train_label_uci_madelon, header=None)
y_val = pd.read_csv(val_label_uci_madelon, header=None)

y_train.columns = ['target']
y_val.columns = ['target']

In [11]:
train_uci_df = pd.merge(train_uci_df, y_train, left_index=True, right_index=True)
val_uci_df = pd.merge(val_uci_df, y_val, left_index=True, right_index=True)

In [12]:
train_uci_df.head()

,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_491,feat_492,feat_493,feat_494,feat_495,feat_496,feat_497,feat_498,feat_499,target
0,485,477,537,479,452,471,491,476,475,473,...,481,477,485,511,485,481,479,475,496,-1
1,483,458,460,487,587,475,526,479,485,469,...,478,487,338,513,486,483,492,510,517,-1
2,487,542,499,468,448,471,442,478,480,477,...,481,492,650,506,501,480,489,499,498,-1
3,480,491,510,485,495,472,417,474,502,476,...,480,474,572,454,469,475,482,494,461,1
4,484,502,528,489,466,481,402,478,487,468,...,479,452,435,486,508,481,504,495,511,1

### Creating my three training sets that are 10% of the sample.

In [13]:
s1_train_uci_10 = train_uci_df.sample(int(len(train_uci_df)*0.1), random_state=1)
s2_train_uci_10 = train_uci_df.sample(int(len(train_uci_df)*0.1), random_state=10)
s3_train_uci_10 = train_uci_df.sample(int(len(train_uci_df)*0.1), random_state=100)

In [14]:
s1_train_uci_10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 674 to 926
Columns: 501 entries, feat_0 to target
dtypes: int64(501)
memory usage: 784.4 KB

In [15]:
# These functions were discussed in class and will be used to determine redundant features.


def calculate_r2_for_feature(data, feature, model):
    new_data = data.drop(feature, axis=1)

    X_train, \
    X_test,  \
    y_train, \
    y_test = train_test_split(
        new_data,data[feature],test_size=0.25
    )
    
    if model == 'DecisionTreeRegressor':
        regressor = model()
        regressor.fit(X_train, y_train)
        score = regressor.score(X_test, y_test)

    else:    
        ss = StandardScaler()
        ss.fit(X_train, y_train)
        X_train_scaled = ss.transform(X_train)
        X_test_scaled = ss.transform(X_test)

        regressor = model()
        regressor.fit(X_train_scaled,y_train)

        score = regressor.score(X_test_scaled,y_test)
    
    return score


def mean_r2_for_feature(data, feature, model):
    scores = []
    for _ in range(10):
        scores.append(calculate_r2_for_feature(data, feature, model))
        
    scores = np.array(scores)
    return scores.mean()


def mean_r2_for_all_features(data, model):
    ''' 
    This function takes the data and returns an r2 scores for every feature 
    in a DataFrame.
    '''
    mean_r2_dict = {}
    
    for feat in data.columns:
        #data = data.sample(int(len(data)*.1)) # taking random sample of 10 percent of input data
        score = mean_r2_for_feature(data, feat, model)
        mean_r2_dict[feat] = score
    
    return mean_r2_dict

In [16]:
'''This cell is killing my t2.micro'''

# # this is using the mean_r2_for_all_features function, so its running all the features 10 times. I will store all of
#     # results in a df.

# %%timeit
# dt_score_list = []

# for _ in range(10):
#     dt_score_list.append(mean_r2_for_all_features(s1_train_uci_10.drop('target', axis=1), DecisionTreeRegressor))

# tree_s1_feature_scores_df = pd.DataFrame(dt_score_list)
# tree_means = tree_s1_feature_scores_df.describe().T
# tree_means_df = tree_means.sort_values('mean', ascending=False).head(20)[['mean', 'std']]

'This cell is killing my t2.micro'

In [18]:
s1_dtree_mean_scores = []
for col in s1_train_uci_10.drop('target', axis=1).columns:
    s1_dtree_mean_scores.append(mean_r2_for_feature(s1_train_uci_10.drop('target', axis=1), col, DecisionTreeRegressor))

In [27]:
s1_dtree_score_df = pd.DataFrame([s1_dtree_mean_scores, feature_col_names]).T.sort_values(0, ascending=False)
s1_dtree_score_df.head(25)

            0         1
153  0.952069  feat_153
442  0.950379  feat_442
318  0.948254  feat_318
433  0.944936  feat_433
241  0.943598  feat_241
28   0.937584   feat_28
378  0.935187  feat_378
475  0.933851  feat_475
48   0.929555   feat_48
472  0.928421  feat_472
451  0.922009  feat_451
493  0.920975  feat_493
453  0.916875  feat_453
281  0.915456  feat_281
64   0.912837   feat_64
128  0.912712  feat_128
105  0.885256  feat_105
336  0.885216  feat_336
338  0.452879  feat_338
455  0.411807  feat_455
221 -0.582208  feat_221
446 -0.654702  feat_446
251 -0.661632  feat_251
383 -0.678342  feat_383
171 -0.747243  feat_171

In [238]:
s1_correlated_cols = list(s1_dtree_score_df.head(20).index)

In [28]:
# In the above calculation, I have exactly 20 features that have positive scores. There is 5 predictors and 15 linear
    # combinations, so I think I've identified my noise! Next, I'm going to do this for the other random 10% samples
    # and compare the results. Maybe keep the top 20 of all three for my next step, using lass/ridge/elastic net to
    # remove features that are redundant.

In [29]:
s2_dtree_mean_scores = []
for col in s2_train_uci_10.drop('target', axis=1).columns:
    s2_dtree_mean_scores.append(mean_r2_for_feature(s2_train_uci_10.drop('target', axis=1), col, DecisionTreeRegressor))

In [ ]:
s2_dtree_score_df = pd.DataFrame([s2_dtree_mean_scores, feature_col_names]).T.sort_values(0, ascending=False)

In [237]:
s2_correlated_cols = list(s2_dtree_score_df.head(20).index)

In [32]:
s3_dtree_mean_scores = []
for col in s3_train_uci_10.drop('target', axis=1).columns:
    s3_dtree_mean_scores.append(mean_r2_for_feature(s3_train_uci_10.drop('target', axis=1), col, DecisionTreeRegressor))

In [235]:
s3_dtree_score_df = pd.DataFrame([s3_dtree_mean_scores, feature_col_names]).T.sort_values(0, ascending=False)

In [234]:
s3_correlated_cols = list(s3_dtree_score_df.head(20).index)

In [44]:
# Added all of my top 20 columns for the 3 random 10% samples to see if there was variation, and they all got the exact
    # same features. This is a good sign!

len(set(s1_correlated_cols+s2_correlated_cols+s3_correlated_cols))

20

In [252]:
s_all_results_df = pd.DataFrame([s1_correlated_cols, s2_correlated_cols, s3_correlated_cols]).T
s_all_results_df.columns = ['sample_1', 'sample_2', 'sample_3']
s_all_results_df.sort('sample_1')

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  This is separate from the ipykernel package so we can avoid doing imports until

    sample_1  sample_2  sample_3
5         28        28        48
8         48       433       451
14        64       105       336
16       105       442        64
15       128       493       475
0        153        48       241
4        241       475       453
13       281        64       442
2        318       451       128
17       336       472       472
18       338       338       455
6        378       336       105
3        433       153       318
1        442       318        28
10       451       453       433
12       453       128       281
19       455       455       338
9        472       378       378
7        475       281       493
11       493       241       153

In [79]:
s1_corr = s1_train_uci_10[s1_correlated_cols].corr()
s2_corr = s2_train_uci_10[s2_correlated_cols].corr()
s3_corr = s3_train_uci_10[s3_correlated_cols].corr()

In [84]:
s1_corr_desc = s1_corr.describe().T
s1_corr_desc['mean'] = abs(s1_corr_desc['mean'].values)
s1_corr_desc = s1_corr_desc.sort_values('mean')

In [85]:
s2_corr_desc = s2_corr.describe().T
s2_corr_desc['mean'] = abs(s2_corr_desc['mean'].values)
s2_corr_desc = s2_corr_desc.sort_values('mean')

In [86]:
s3_corr_desc = s1_corr.describe().T
s3_corr_desc['mean'] = abs(s3_corr_desc['mean'].values)
s3_corr_desc = s3_corr_desc.sort_values('mean')

In [233]:
s3_skb_cols

['feat_241', 'feat_128', 'feat_378', 'feat_475', 'feat_338']

In [232]:
s3_corr_desc[['mean']][0:5]

              mean
feat_455  0.044989
feat_318  0.058466
feat_451  0.059955
feat_28   0.060530
feat_475  0.063081

In [103]:
low_corr_cols = list(set(list(s1_corr_desc.head(7).index)+list(s2_corr_desc.head(7).index)+list(s3_corr_desc.head(7).index)))

In [104]:
low_corr_corr = s2_train_uci_10[low_corr_cols].corr()

In [ ]:
# Compute the correlation matrix

corr = s1_corr

# Generate a mask for the upper triangle
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))

# Generate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5}, annot=True)

In [208]:
# I realized this might not be a good method for finding redundant features. Leaving here in case I use it later.
s1_redundant_feats = list(set([433,153,128,472,28,451,318,281,433,475,241,28,451,48,378,453,493,64,336,128,105]))
len(s1_redundant_feats)

17

In [202]:
# Getting the target values associated with each sample set.

s1_train_uci_10_with_y = train_uci_df.sample(int(len(train_uci_df)*0.1), random_state=1)

s2_train_uci_10_with_y = train_uci_df.sample(int(len(train_uci_df)*0.1), random_state=10)

s3_train_uci_10_with_y = train_uci_df.sample(int(len(train_uci_df)*0.1), random_state=100)

In [149]:
y_s1 = s1_train_uci_10_with_y[s1_correlated_cols+[-1]]['target']

y_s2 = s2_train_uci_10_with_y[s2_correlated_cols+[-1]]['target']

y_s3 = s3_train_uci_10_with_y[s3_correlated_cols+[-1]]['target']

In [209]:
from sklearn.feature_selection import SelectKBest

In [258]:
# results f-classif: ['feat_241', 'feat_475', 'feat_64', 'feat_128', 'feat_336']
skb_s1 = SelectKBest(k=5)
skb_s1.fit(s1_train_uci_10[s1_correlated_cols], y_s1)
s1_skb_feats = np.where(skb_s1.get_support())[0]
s1_skb_cols = list(s1_train_uci_10[s1_correlated_cols][s1_skb_feats].head().columns)

s1_skb_cols

['feat_241', 'feat_475', 'feat_64', 'feat_128', 'feat_336']

In [261]:
# results f-classif: ['feat_48', 'feat_475', 'feat_378', 'feat_241', 'feat_128']

skb_s2 = SelectKBest(k=5)
skb_s2.fit(s2_train_uci_10[s2_correlated_cols], y_s2)
s2_skb_feats = np.where(skb_s2.get_support())[0]
s2_skb_cols = list(s2_train_uci_10[s2_correlated_cols][s2_skb_feats].head().columns)

s2_skb_cols

['feat_48', 'feat_475', 'feat_378', 'feat_241', 'feat_128']

In [262]:
# results f-classif: ['feat_241', 'feat_128', 'feat_378', 'feat_475', 'feat_338']

skb_s3 = SelectKBest(k=5)
skb_s3.fit(s3_train_uci_10[s3_correlated_cols], y_s3)
s3_skb_feats = np.where(skb_s3.get_support())[0]
s3_skb_cols = list(s3_train_uci_10[s3_correlated_cols][s3_skb_feats].head().columns)

s3_skb_cols

['feat_241', 'feat_128', 'feat_378', 'feat_475', 'feat_338']

In [242]:
# Features that show in all three of the SelectKBest fits: 128, 241, 475
# Features that show twice: 378
# Features that show once: 64, 48, 338, 336

skb_all_samp_feats = set(s1_skb_cols + s2_skb_cols + s3_skb_cols)
skb_all_samp_feats

{'feat_128',
 'feat_241',
 'feat_336',
 'feat_338',
 'feat_378',
 'feat_475',
 'feat_48',
 'feat_64'}

In [220]:
from sklearn.linear_model import Lasso

In [248]:
sfm_s1 = SelectFromModel(Lasso(), threshold='mean')
sfm_s1.fit(s1_train_uci_10[s1_correlated_cols], y_s1)
s1_sfm_feats = np.where(sfm_s1.get_support())[0]
s1_sfm_cols = list(s1_train_uci_10[s1_correlated_cols][s1_sfm_feats].head().columns)
s1_sfm_cols

['feat_442', 'feat_378', 'feat_475', 'feat_105', 'feat_336']

In [249]:
sfm_s2 = SelectFromModel(Lasso(), threshold='mean')
sfm_s2.fit(s1_train_uci_10[s2_correlated_cols], y_s2)
s2_sfm_feats = np.where(sfm_s2.get_support())[0]
s2_sfm_cols = list(s2_train_uci_10[s2_correlated_cols][s2_sfm_feats].head().columns)
s2_sfm_cols

['feat_475', 'feat_453', 'feat_64']

In [250]:
sfm_s3 = SelectFromModel(Lasso(), threshold='mean')
sfm_s3.fit(s3_train_uci_10[s3_correlated_cols], y_s3)
s3_sfm_feats = np.where(sfm_s3.get_support())[0]
s3_sfm_cols = list(s3_train_uci_10[s3_correlated_cols][s3_sfm_feats].head().columns)
s3_sfm_cols

['feat_318', 'feat_378', 'feat_475', 'feat_338']

In [251]:
# Features that show in all three of the SelectFromModel fits: 475
# Features that show twice: 378
# Features that show once: 64, 105, 318, 336, 338, 442, 453

sfm_all_samp_feats = set(s1_sfm_cols + s2_sfm_cols + s3_sfm_cols)
sfm_all_samp_feats

{'feat_105',
 'feat_318',
 'feat_336',
 'feat_338',
 'feat_378',
 'feat_442',
 'feat_453',
 'feat_475',
 'feat_64'}

In [247]:
# Features that appear in both SFM and SKB: 64, 336, 338, 378, 475
# I feel like I should also consider 128 and 241 because that appeared in all three sample sets for SKB.

sfm_skb_all_feats_combo = set(list(skb_all_samp_feats) + list(sfm_all_samp_feats))
sfm_skb_all_feats_combo

{'feat_105',
 'feat_128',
 'feat_241',
 'feat_318',
 'feat_336',
 'feat_338',
 'feat_378',
 'feat_442',
 'feat_453',
 'feat_475',
 'feat_48',
 'feat_64'}

# Initial thoughts:

#### UCI Web Data

Using the unsupervised learning technique where a regressor is used to compare every feature (column) against the rest of the dataset, I was able to find 20 columns that have mean R^2 scores that are positive, and most of them are very high (in the 0.8-0.9 range) for all three of the random data subsets. Since 480/500 of the features in the madelon dataset are noise, I believe that this is a good indication that I have found my 5 predictor features and the 15 linear combinations.

Using SelectKBest with k=5 on my 3 random data subsets, the was able to identify 8 unique features. Using SelectFromModel with the Lasso estimator, I was able to identify 9. Between these two lists of features, only 5 are the same. SelectFromModel returned 5 for the first dataset, 3 for the second, and 4 for the third. Since the full dataset has five important features, I think that the first sample is the most representative of the data. 

Moving forward, I will use GridSearchCV to tune my model hyperparameters and try various combonations of the important features I identified, starting with the 5 features that I found in both my SFM and SKB models.